@{
    ViewData["Title"] = "Carte de la salle";
}
<h2>@ViewData["Title"]</h2>


<img src="~/images/map.jpg" alt="Carte de la salle" />
<address>
    Adresse :<br />
    5 rue de France<br />
    74000 Annecy, FRANCE<br />
    Tel : 04 50 00 00 00
</address>

